/* General */

@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}

* {
	font-family: Roboto;
}

*.question > img {
	border-radius: 8px;
	margin: 1em;
}

body {
	font-size: 24pt;
	background-color: #77aacc;
	padding: 1em;
}

h1 {
	font-size: 25pt;
	text-align: center;
}

h2 {
	font-size: 24pt;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
img.loading {
	animation: spin 1s linear infinite;
	width: 1em;
	margin: 0;
}

/* Player List */

div.player_list {
	font-size: 16pt;
	background-color: #bbbbff;
	width: 22em;
	border-radius: 0.5em;
	padding-top: 0.01em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0, 0.2);
}

img.con_err {
	position: absolute;
	right: -2em;
	top: 0.5em;
	background-color: #aaaaff;
	margin-left: 0.5em;
	width: 2em;
	padding: 0.2em;
	border-radius: 0.5em;
}

div.player_list h2 {
	font-size: 18pt;
	text-align: center;
}

div.player_list ul {
	list-style-type: none;
	padding: 0;
	padding-bottom: 0.01em;
}

div.player_list ul li {
	position: relative;
	background-color: #aaaaff;
	font-weight: bold;
	padding: 1em;
	padding-left: 1.5em;
	margin-bottom: 1em;
}
div.player_list ul li.me {
	background-color: #9977ee;
}

div.player_list ul li span.score {
	position: absolute;
	right: 2em;
	top: 0.6em;
	color: #ffdd00;
	background-color: #333;
	padding: 0.4em;
	border-radius: 0.4em;
}

/* Questions */

div.question {
	position: relative;
	font-size: 24pt;
	background-color: #bbbbff;
	padding: 1.5em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0, 0.2);
}

div.question > span.score {
	font-size: 13pt;
	position: absolute;
	right: 4em;
	top: 2.5em;
	color: #444;
	padding: 0.4em;
	border-radius: 0.6em;
}

div.question h3 {
	font-size: 16pt;
	margin-top: 0em;
	margin-bottom: 0.5em;
}

*.answer {
	font-size: 24pt;
	background-color: #ffffff;
	color: #000000;
	padding: 0.5em;
	border: solid 2px #333;
	border-radius: 0.3em;
	margin-top: 0.5em;
	margin-right: 0.5em;
	transition: background-color 0.3s;
}

*.answer + label {
	padding: 0.1em;
	border-radius: 0.3em;
	background-color: transparent;
	transition: background-color 0.3s;
}

*.answer.pending, *.answer.pending + img + label {
	background-color: #eeeeaa;
}

/* Done Questions */

div.final_answer {
	position: relative;
	display: inline-block;
	background-color: #aaaaff;
	padding: 1em;
	margin-top: 1em;
	margin-right: 1em;
	border-radius: 0.5em;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0, 0.2);
}

div.final_answer.me {
	background-color: #9977ee;
}

div.final_answer h4 {
	margin: 0;
}

div.final_answer span.score {
	font-size: 14pt;
	font-weight: bold;
	position: absolute;
	right: -1em;
	bottom: -1em;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	background-color: #cc0;
	color: #333;
	padding: 0.5em;
	border-radius: 2em;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0, 0.2);
}

div.final_answer span.score.good {
	background-color: #0c0;
	color: #fff;
}

div.final_answer span.score.bad {
	background-color: #c00;
	color: #fff;
}

/* Control Page */

table, th, td {
	border-collapse: collapse;
	border: solid 1px #333;
	padding: 0.5em;
}

input[type="submit"], button {
	font-size: 14pt;
	background-color: #338;
	color: #fff;
	padding: 0.5em;
	border-radius: 0.5em;
	border: solid 4px #333;
	margin: 0.1em;
}
